* {
	font-family: Trebuchet MS;
	font-size: 1em;
}

p {
margin-top: 6px;
margin-bottom: 6px;
}

.steps {
	margin: 0;
	padding: 0;
}
.steps li.scenario,.steps li.fail,.steps li.pass,.steps li.skip {
	margin: 1em 0;
	padding: 0.3em;
	background-color: #EEE;
	border: 1px #CCC solid;
	list-style-type: none;
}

.steps li.fail {
	background-color: #FF7777;
}
.steps li.pass {
	background-color: #77DD44;
}

.steps li.skip {
	background-color: #ccc;
}

.steps .stepNote {
	margin-top: 0.5em;
	padding: 0.3em;
	background-color: #FFC;
}
.steps .stepNote h4 {
	margin: 0;
}
.steps .stepNote li {
	list-style-type: disc;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-style: none;
}


.passfail {
	float: right;
}

.passfail label {
	padding: 3px;
}

label.fail {
	color: #CC4422;
}
label.fail.selected {
	color: white;
	background-color: #CC4422;
}

label.pass {
	color: #118811;
}
label.pass.selected {
	background-color: #118811;
	color: white;
}

label.skip {
	color: #333;
}
label.skip.selected {
	background-color: #666;
	color: white;
}

.note textarea {
	width: 100%;
	height: 100px;
}

div.note {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #A0A0A0;
}

ul#NoteDetail {
	padding: 0;
}
ul#NoteDetail li.stepdetail  {
	list-style-type: none;
	border: 1px #CCC solid;
	padding: 0.3em;
	margin: 0.5em;
	background-color: #FFC;
}
ul#NoteDetail li.pass {
	background-color: #EBE4C6;
}

ul#NoteDetail li.fail {
	background-color: #EBD0CE;
}

ul#NoteDetail li.skip {
	background-color: #ccc;
}

ul#NoteDetail li.resolved {
	background-color: #CFC;
}

table.data tr td { 
	cursor: hand;
	cursor: pointer;
}

# Added 07/01/2010 by Rainer Spittel

ul#NoteDetail .content li {
	border: none;
	background-color: transparent;
	list-style-type: decimal;
	margin: 0px;
}

.content li {
	border: none;
	background-color: transparent;
	margin: 0px;
}

ul#NoteDetail .label {
	margin: 2px;
}

ul#NoteDetail .content {
	margin-left: 40px;
	padding-left: 80px;
	padding-bottom: 5px;
	padding-top: 2px;
}

.boxed {
	padding: 5px 15px 5px 15px;
	margin-bottom: 5px;
}

.box {
	border: 1px #CCC solid;
	padding: 5px 15px 5px 15px;
	margin-bottom: 5px;
}

.description {
	border-left: 1px #CCC solid;
	border-right: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
	padding: 5px 15px 5px 15px;
}

.featureTitle {
	border: 1px #CCC solid;
	background-color: #F0F0FF;
	padding: 5px 15px 5px 15px;
}

.leftPanel {
	border: 1px #CCC solid;
	background-color: #E0E0FF;
	float: left;
	margin: 0 auto;
	padding: 0 15px 0 15px;
	width: 155px;
	position: fixed;
	text-align: center;
	
	top: 0px;
	left: 0px;
	bottom: 0px;
}

.rightPanel {
	position: absolute;
	left: 190px;
	float: left;
	right: 5px;
}

.label {
	width:100px;
	float:left
}

.actions {
	padding-top: 25px;
}


.goodMsg {
	color: #208020;
}

.badMsg {
	color: #CC4422;
}

#statusmessage, .helptext {
	font-size: 10px;
}

#statusmessage {
}

div.reportheader .label {
	width:100px;
	float:left
}

div.reportheader .content {
	margin-left: 100px;
	margin-top: 0px;
}

#form_actions_right a {
	background-color: #C0C0C0;
	border: 1px solid #000000;
	float: left;
	padding: 3px 15px;
	font-size: 14px;
	margin-right: 10px;
}

.changeable {
	background-color: #D0F0D0;	
}

.scenario div.content {
	margin-top: 30px;
}

.resolutionInfo {
	padding-right: 20px
}

.resolutionAction {
	font-size: 80%;
	background-color:#DDDDDD;
	border:1px solid #000000;
	height:25px;
	text-align:center;
	vertical-align:middle;
	width:150px;
	padding-top: 3px;
	margin-top: 3px;
}

.stepresultnote {
	padding-left: 20px;
}

.resolutionComments ul {
	padding-left: 20px;
}

.stepresultnote p {
	margin-top: 0px;
	margin-bottom: 0px;
}
