* {
	font-family: Trebuchet MS;
}


.steps {
	margin: 0;
	padding: 0;
}
.steps li {
	list-style-type: none;
	margin: 1em 0;
	padding: 0.3em;
	background-color: #EEE;
	border: 1px #CCC solid;
}

.steps li.fail {
	background-color: #FF7777;
}
.steps li.pass {
	background-color: #77DD44;
}

.steps .knownIssues {
	margin-top: 0.5em;
	padding: 0.3em;
	background-color: #FFC;
}
.steps .knownIssues h4 {
	margin: 0;
}
.steps .knownIssues li {
	list-style-type: disc;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-style: none;
}


.passfail {
	float: right;
}

.passfail label {
	padding: 3px;
}

label.fail {
	color: #CC4422;
}
label.fail.selected {
	color: white;
	background-color: #CC4422;
}

label.pass {
	color: #118811;
}
label.pass.selected {
	background-color: #118811;
	color: white;
}

.failReason textarea {
	width: 100%;
}

ul#FailureDetail {
	padding: 0;
}
ul#FailureDetail li {
	list-style-type: none;
	border: 1px #CCC solid;
	padding: 0.3em;
	margin: 0.5em;
	background-color: #FFC;
}
ul#FailureDetail li.resolved {
	background-color: #CFC;
}

.resolutionInfo {
	font-size: 80%;
}