/**
 * This typography file is included in the WYSIWYG editor
 */
.typography * {
	font-family: Arial;
	font-size: 1em;

}
.typography p, 
.typography ul, 
.typography td {
	font-size: 1.2em;
}

.typography ul ul {
	font-size: 1em;
}
.typography h1 {
	font-size: 2em;
	color: #0074C6;
}
.typography h2 {
	font-size: 1.8em;
	color: #0074C6;
}
.typography a {
	color: #0066cc;
}